<!-- Toolbar -->
<div class="toolbar">
  <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="sidenav.toggle()">menu</mat-icon>
  <span>Products</span>
</div>

<div class="container">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" closed>
      <ul>
        <li routerLink="/home">Home</li>
        <li routerLink="/trash">Trash</li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>